# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/bentarcr/freenime.rylvitation.my.id"
PassengerBaseURI "/"
PassengerNodejs "/home/bentarcr/nodevenv/freenime.rylvitation.my.id/22/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END